.navbar-brand {
    color: white;
}

.profile-pic {
    border-radius: 10%;
}

.header .masthead {
    background-color: teal !important;
}
#about {
    background-color: teal;
}

#about div {
    background-color: teal;
    color: #303030;
    font-weight: 700;
}
.masthead div div div p {
    text-align: left;
} 

.masthead a {
    color:white;
    text-decoration: none;
}

.masthead a:hover {
    border-bottom: 4px solid goldenrod !important;
}

.profile-pic {
    border: 4px solid #303030;
}

#portfolio > div {
    padding:40px;
    background-color: lightgray;
}

.portfolio-box {
    height:250px;
    margin:5px;
    background-color: teal;
    box-shadow: 5px 5px grey;
    border-radius: 5px;
}

.project-title {
    text-align: center;
    padding: 30px 0;
    font-size: 25px;
    font-weight: 800;
}

.project-links {
    text-align:center;
}

.project-links a {
    color: white;
    text-decoration: none;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    color: white;
}

.live-link,
.repo-link {
    color: white !important;
    padding: 8px 40px;
    border: 2px solid black;
    border-radius: 2px;

}

.live-link:hover,
.repo-link:hover {
  background-color: #303030;
  border-bottom: 4px solid goldenrod;
}


#skills i {
    font-size: 50px;
}

#recent-posts-blog > div  {
    width: 30%;
    background-color: teal;
    padding: 20px;
    display:inline-block;
    margin-right:20px;
    min-height: 170px;
    border-radius: 2px;
}

#recent-posts-blog > div:hover  {
    border: 4px solid goldenrod;
}

@media only screen and (max-width: 800px) {
    #recent-posts-blog > div  {
        width: 80%;
        margin-bottom:10px;
    }
  }

#recent-posts-blog div a {
    color: white;
    text-decoration: none;
}

#posts > div > a {
    margin-top: 18px;
    border: 4px solid teal;
}

#posts > div > a:hover {
    background-color: teal;
    color: white ;
}
#contact h2 {
    color: white !important
}

#contact a {
    text-decoration: none;
}

#contact p:hover {
    border-bottom: 4px solid goldenrod;
}
#contact > div .socials i {
    font-size: 44px;
}

.btn-primary:hover {
    background-color: white;
    color: black;
}


#contact > div > div div > i {
    font-size: 40px;
    color: white;
}


#mainNav.navbar-shrink .navbar-brand,
#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
}

#mainNav.navbar-shrink .navbar-brand:hover {
    color: white;
}

#footer {
    background-color: lightgray;
}

@media only screen and (max-width: 450px) {
    .live-link,
    .repo-link {
     padding: 12px 18px;
    }    
    .description {
        font-size:14px;
    }
    .project-title {
        font-size: 20px;
    }
}

@media only screen and (max-width: 760px) {
    .project-links {
        margin-top: 16px;
    }
  }

  @media only screen and (min-width:1200px) {
    .project-title {
        padding: 48px 0;
    }
  }