nav {
  background-color: #3c3c3c;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid goldenrod;
}
nav ul {
  padding: 20px 0 4px 0;
}
nav ul li {
  list-style-type: none;
  display: inline;
  text-align: center;
  padding: 14px;
  font-size: 20px;
  font-weight: 600;
}

nav a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  color: #03c8c8;
  border-bottom: 3px solid goldenrod;
}
.intro {
  padding: 100px 40px 30px;
  background-color: teal;
  color: white;
}
.profile-pic {
  text-align: center;
}
.intro-text {
  padding: 10px;
}
.intro-text a {
  color: white;
  text-underline-offset: 5px;
}
.intro-text a:hover {
  text-decoration-color: goldenrod;
}

.projects {
  background-color: lightgray;
}
.projects h1 {
  text-align: center;
  padding-bottom: 20px;
  color: #3c3c3c;
}
.project-item {
  text-align: center;
  margin: 30px 15px;
  box-shadow: 6px 6px 5px #696969;
}

.project-item img {
  width: 100%;
  opacity: 60%;
}

.project-item img:hover {
  filter: grayscale(100%);
  transition: 500ms;
}

.project-info {
  padding: 8px;
  background-color: #3c3c3c;
  color: white;
  margin: 0 auto;
}

.project-item a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.project-item a:hover {
  color: #03c8c8;
  border-bottom: 2px solid goldenrod;
}

.project-info p {
  font-size: 18px;
}

.projects,
.posts,
.about,
.contact {
  padding: 30px 40px;
}

.posts {
  background-color: teal;
  color: white;
}

.blog-links {
  text-align: center;
  background-color: #3c3c3c;
}
.blog-links a {
  color: white;
  text-decoration: none;
}
.blog-img {
  float: left;
  max-width: 300px;
  margin-right: 30px;
}
.blog-post a:hover {
  border-bottom: 2px solid goldenrod;
}
.blog-post {
  height: auto;
  background-color: #3c3c3c;
  padding: 20px;
  margin: 20px;
}
.blog-post a {
  color: white;
  text-decoration: none;
}

.blog-post1 a {
  font-size: 18px;
  border-bottom: 3px solid goldenrod;
  font-weight: 600;
}
.contact {
  background-color: #3c3c3c;
  color: white;
  text-align: center;
}
.contact ul {
  padding: 20px 0;
}
.contact li {
  list-style-type: none;
  display: inline;
  font-size: 35px;
  padding: 20px;
}
.contact i {
  color: white;
}
.contact i:hover {
  color: goldenrod;
}
.copyright {
  text-align: center;
}

.lip {
  margin: 120px 0 0 20px;
  color: white;
}
.lip a {
  color: white;
  text-underline-offset: 5px;
}

.lip a:hover {
  color: #03c8c8;
  border-bottom: 1px solid goldenrod;
}

.lip h4 {
  text-decoration: underline;
}

.blog-title-link {
  text-align: center;
  color: white;

}

.blog-title-link a {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid goldenrod;
}

.blog-title-link a:hover {
  text-decoration: none;
  border-bottom: 2px solid white;
}


@media only screen and (min-width: 1200px) {
  .intro {
    padding: 120px 30px 46px;
  }
}

@media only screen and (max-width: 500px) {
  nav ul li {
    padding: 14px;
    font-size: 17px;
  }

  .blog-img {
    max-width: 100%;
    margin-bottom: 10px;
  }
}
