body {
  background-color: #F5F5F5 ;
}

.center {
  text-align: center;
}

nav {
  background-color: teal;
}

nav a:hover {
  color: white;
  border-bottom: 2px solid goldenrod;
  margin-bottom: 2px;
}

.navbar ul .nav-item  {
  list-style-type: none;
  float:left;
  padding: 12px 15px 0 0;
  font-size: 18px;
}

nav > ul > li.nav-item.title-name > a{
  font-size: 20px;
  padding: 0px 2px 0 0;
  font-weight:600;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.about {
  margin-top: 10px;
  padding: 20px;
}

.about a {
  color: #00b3b3;
  text-decoration: none;
}

.about a:hover {
  border-bottom: 2px solid goldenrod;
  color: #00b3b3;
}


.profile-pic {
  border-radius: 50%;
}

.about .inner-about{
  background-color: #2a2a2a;
  color: white;
  padding: 10px;
}

div.contact {
  margin: 30px 0;
  background-color: goldenrod;
  padding: 20px;
}

.contact a i {
  font-size: 40px;
  color: black;
}

.contact a i:hover {
  color: white;
}

.work-panel {
  background-color: teal;
  color: white;
  margin: 20px 0 0 0;
  padding: 15px;
  box-shadow: 5px 5px gray;
}

.work-panel a.btn {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.work-panel a.btn:hover {
  background-color: white;
  color: black;
}

.posts-title {
  margin-top: 20px;
}
.blog-post {
  background-color: lightgray;
  padding: 30px;
  margin-top: 15px;
  box-shadow: 5px 5px teal;
}
.blog-post a {
  text-decoration: none;
  color: black;
}

.blog-post a:hover {
  color: slategray;
}

#contact a {
  width: 15%;
}

.socials, footer {
  text-align: center;
}

.learn-listing {
  margin-top: 20px;
  
}


.learn-listing a {
  color: #00b3b3;
  font-weight: 600;
  text-decoration: none;
}

.learn-listing a:hover {
  border-bottom: 2px solid goldenrod;
  color: #00b3b3;
}
